<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sound to Electricity{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</head>
<body>
    <header class="bg-primary text-white text-center py-4">
        <h1>Sound to Electricity Project</h1>
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('decibels_to_voltage') }}">Decibels to Voltage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('data_visualization') }}">Noice Pollution</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('electricity_sources') }}">Electricity Sources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('resources') }}">Resources</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container mt-4">
        {% block content %}{% endblock %}
    </main>
    <script>
        AOS.init();
    </script>
</body>
</html>
